<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Design your taco</title>
</head>
<body>
<h1>Design Your Taco!</h1>

<h3>Choose your Wrap</h3>
<form>
    <p>Select Tortilla Type:</p>

    <div>
        <input type="radio" id="corn" name="tortillaType" value="corn"
               checked>
        <label for="corn">Corn</label>
    </div>

    <div>
        <input type="radio" id="flour" name="tortillaType" value="flour">
        <label for="flour">Flour</label>
    </div>


    <p>Select Cheese Type:</p>

    <div>
        <input type="radio" id="cheddar" name="cheeseType" value="cheddar"
               checked>
        <label for="corn">Cheddar</label>
    </div>

    <div>
        <input type="radio" id="mozzarella" name="cheeseType" value="mozzarella">
        <label for="flour">Mozzarella</label>
    </div>


    <br>
    <input type="submit" value="Submit now">

</form>


</body>
</html>