<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<h1>Design your taco!</h1>
<img th:src="@{/images/Taco.jpeg}"/>

<!--th:object is used to reference the command object that is backing this form, here, a Taco command object sent from /design GET
Controller is reference by this attribute. This object will back the form
-->
<form method="POST" th:action ="@{/design}" th:object="${design}">
    <div class="grid">
        <div class="ingredient-group" id="wraps">
            <h3>Designate your wrap:</h3>
            <div th:each="ingredient : ${wrap}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"
                />
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="proteins">
            <h3>Pick your protein:</h3>
            <div th:each="ingredient : ${protein}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"
                />
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="cheeses">
            <h3>Choose your cheese:</h3>
            <div th:each="ingredient : ${cheese}">



                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"
                />
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="veggies">
            <h3>Determine your veggies:</h3>
            <div th:each="ingredient : ${veggies}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"
                />
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="sauces">
            <h3>Select your sauce:</h3>
            <div th:each="ingredient : ${sauce}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"
                />
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
    </div>
    <div>
        <h3>Name your taco creation:</h3>
        <input type="text" th:field="*{name}"/>
        <br/>
        <button>Submit your taco</button>
    </div>
</form>
</body>
</html>





















<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Design your taco</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Design Your Taco!</h1>-->

<!--<h3>Choose your Wrap</h3>-->
<!--<form>-->
<!--    <p>Select Tortilla Type:</p>-->

<!--    <div>-->
<!--        <input type="radio" id="corn" name="tortillaType" value="corn"-->
<!--               checked>-->
<!--        <label for="corn">Corn</label>-->
<!--    </div>-->

<!--    <div>-->
<!--        <input type="radio" id="flour" name="tortillaType" value="flour">-->
<!--        <label for="flour">Flour</label>-->
<!--    </div>-->


<!--    <p>Select Cheese Type:</p>-->

<!--    <div>-->
<!--        <input type="radio" id="cheddar" name="cheeseType" value="cheddar"-->
<!--               checked>-->
<!--        <label for="corn">Cheddar</label>-->
<!--    </div>-->

<!--    <div>-->
<!--        <input type="radio" id="mozzarella" name="cheeseType" value="mozzarella">-->
<!--        <label for="flour">Mozzarella</label>-->
<!--    </div>-->


<!--    <br>-->
<!--    <input type="submit" value="Submit now">-->

<!--</form>-->


<!--</body>-->
<!--</html>-->